{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <div class="card">
                    <div class="card-header">
                        Seja Bem-Vindo
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque sint iure, recusandae, sit eaque sapiente molestias eius odio consequatur ducimus obcaecati vitae consectetur, autem placeat in at. Dolore, facilis neque!</p>
                        <button class="btn btn-success">
                            Seguir
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>